.root{
    -fx-pref-width: 300;
    -fx-pref-height: 150;
    -fx-padding: 15px;
}
#topPane {
    -fx-orientation: horizontal;
    -fx-alignment: center;
    -fx-hgap: 10;
}
/* Set styles for all textField*/
.text-field{
    -fx-alignment: center;
    -fx-pref-column-count: 5;
}

/* The Label that shows the result of the temperature conversion */
#lblResult {
    -fx-pref-height: 25;
    -fx-pref-width: 75;
    -fx-border-style: solid;
    -fx-border-radius: 4;
    -fx-alignment: center;
}

.VBox{
    -fx-spacing: 10;
}
