.root{
    -fx-background-color: linear-gradient(to bottom right, lightgoldenrodyellow, wheat);
    -fx-alignment: center;
    -fx-spacing: 10;
}
.check-box{
    -fx-padding: 10px;
}

.light{
    -fx-effect: dropshadow(gaussian,black,5,0,5,5);
}